:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  color: #111;
  background-color: #f6f7f9;
}

body {
  margin: 0;
  background-color: #f6f7f9;
}
